@charset "utf-8";

/*---GLOBAL---*/
body {
    color: #292929;
    font-family: 'ProximaNovaRegular';
    font-size: 16px;
    font-size: 1.6rem;
    position: relative;
    min-width: 303px;
}

h1 {
    font-size: 40px;
    padding-bottom: 53px;
    padding-top: 53px;
}

h2 {
    font-family: 'LibreBaskervilleBold';
    font-size: 26px;
    margin-bottom: 35px;
}

h3 {
    color: #143A50;
    font-family: 'ProximaNovaBold';
    font-size: 18px;
    font-size: 1.8rem;
    margin-top: 75px;
    text-transform: uppercase;
}

h4 {
    font-family: 'ProximaNovaSemibold';
    /*16px*/
    font-size: inherit;
    margin: 0;
}

h4 > small {
    font-family: 'ProximaNovaRegularItalic';
    font-size: 14px;
    font-size: 1.4rem;
}

h5 {}

h6 {}

p {
    font-size: 15px;
    font-size: 1.5rem;
}

a {
    color: #477896;
}

a:focus, a:hover {
    text-decoration: underline;
}

.img-responsive {
    width: 100%;
}

a[href^="tel"], a[href^="tel"]:hover, a[href^="tel"]:focus {
    color: inherit;
    text-decoration: none;
}

h2 small {
    font-family: 'ProximaNovaRegularItalic';
    font-size: 16px;
}

hr {
    border-top-color: #ddd;
}

ol li, ul li {
    margin-bottom: 20px;
}

textarea, select, select.form-control, textarea.form-control {
    border: 1px solid #ddd;
    border-radius: 0;
}

input:focus, select:focus, textarea:focus {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.lead {
    font-size: 26px;
    line-height: 1.5;
}

.dropdown-toggle:focus {
    outline: 2px solid #487896;
}

.btn {
    border-radius: 0;
    font-family: 'ProximaNovaSemibold';
    transition: color 0.3s ease;
    transition: background-color 0.3s ease;
}

.btn-gray {
    background-color: #c8c8c8;
}

.btn-gray:focus, .btn-gray:hover {
    background-color: #292929;
    border-color: #c8c8c8;
    color: #fff;
}

.btn-primary {
    background-color: #487896;
    border-color: #487896;
    font-family: 'ProximaNovaBold';
    text-transform: uppercase;
}

.btn-primary:focus, .btn-primary:hover {
    background-color: #fff;
    border-color: #487896;
    color: #487896;
}

.btn-secondary {
    background-color: #934683;
    border-color: #934683;
    color: #fff;
    font-family: 'ProximaNovaBold';
    text-transform: uppercase;
}

.btn-secondary:focus, .btn-secondary:hover {
    background-color: #fff;
    border-color: #934683;
    color: #934683;
}

.btn-success {
    background-color: #05583D;
    border-color: #05583D;
}

.btn-success:focus, .btn-success:hover {
    background-color: #fff;
    border-color: #05583D;
    color: #05583D;
}

.btn-info {
    background-color: #008ACE;
    border-color: #008ACE;
    color: #101214;
}

.btn-info:focus, .btn-info:hover {
    background-color: #fff;
    border-color: #008ACE;
    color: #292929;
}

.btn-warning {
    background-color: #FE7F2D;
    border-color: #FE7F2D;
    color: #292929;
}

.btn-warning:focus, .btn-warning:hover {
    background-color: #fff;
    border-color: #FE7F2D;
    color: inherit;
}

.btn-danger {
    background-color: #931621;
    border-color: #931621;
}

.btn-danger:focus, .btn-danger:hover {
    background-color: #fff;
    border-color: #931621;
    color: #931621;
}

.btn-link {
    color: #477896;
}

.well {
    background: none !important;
    border: 2px solid #DDD;
    padding: 15px;
    border-radius: 0;
}

input, select {
    border: 1px solid #ddd;
}

/*--- form errors ---*/

div[class^=errors-] {
    background: #fde9ea;
    margin-bottom: 15px;
    color: #931621;
}

div[class^=errors-] .error-heading {
    background: #931621;
    border-color: #931621;
    color: #fff;
    font-family: 'ProximaNovaBold';
    font-size: 17px;
    font-size: 1.7rem;
    padding: 15px;
    margin-bottom: 15px;
}

div[class^=errors-] .error-heading .fa-exclamation {
    font-size: 28px;
    font-size: 2.8rem;
}

div[class^=errors-] .summary-list a {
    color: #931621;
    font-family: 'ProximaNovaSemibold';
    font-size: 16px;
    font-size: 1.6rem;
}

form div.error, form div.error > div {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

form div.error select, form input.error {
    border: 1px solid #931621;
}

form label.error {
    color: #931621;
}

form strong.error {
    bottom: 0;
    color: #931621;
    display: block;
    font-family: 'ProximaNovaSemibold';
    font-size: 13px;
    font-size: 1.3rem;
    position: absolute;
}

.adobeBlank {
    font-size: 0;
}

/*--- end of form errors ---*/
/*---HEADER---*/
.secondary-nav {
    margin-top: 12px;
}

.secondary-nav li {
    margin-left: 10px;
}

.secondary-nav li a {
    color: #292929;
    font-family: 'ProximaNovaSemibold';
    font-size: 14px;
    text-transform: uppercase;
}

.catalogue-donate-button {
    border-radius: 0;
    line-height: 1;
    margin-top: 10px;
    padding-bottom: 10px;
    padding-top: 15px;
}

/*---NAV---*/

.primary-nav, .secondary-nav {
    display: none;
}

.primary-nav {
    background-color: #153B50;
    margin-top: 20px;
    padding-bottom: 15px;
}

.primary-nav nav {
    margin-bottom: 10px;
    margin-top: 10px;
}

.primary-nav nav .nav-menu {
    display: block;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 15;
}

.primary-nav > nav > ul > li > a {
    color: #fff;
    font-family: 'ProximaNovaSemibold';
    font-size: 18px;
    letter-spacing: .05em;
    transition: color 0.3s ease;
}

.primary-nav > nav > ul > li > a:focus, .primary-nav > nav > ul > li > a:hover, .primary-nav > nav > ul > li > a.open {
    color: #FDAF17;
    text-decoration: underline;
}

.primary-nav nav > ul li:first-child, .secondary-nav > ul li:first-child {
    margin-left: 0;
}

.primary-nav fieldset .search-submit {
    background: #FDAF17;
    border-color: #FDAF17;
    color: #000;
}

.primary-nav fieldset .search-submit:focus, .primary-nav fieldset .search-submit:hover {
    background: #000;
    border-color: #000;
    color: #FDAF17;
}

.primary-nav nav a {
    color: #fff;
}

.global-search-field input, .global-search-field button {
    border-radius: 0;
}

/* a top level navigation item in the mega menu */
.nav-item {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0;
}

/* first descendant link within a top level navigation item */
.nav-item > a {
    position: relative;
    display: inline-block;
    padding: 0.5em 1em;
    margin: 0 0 -1px 0;
    border: 1px solid transparent;
}

/* focus/open states of first descendant link within a top level 
   navigation item */
.nav-item > a:focus,
.nav-item > a.open {}

/* open state of first descendant link within a top level 
   navigation item */
.nav-item > a.open {
    border-bottom: none;
    z-index: 1;
}

/* sub-navigation panel */
.sub-nav {
    background-color: #153B50;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    position: absolute;
    display: none;
    top: 28px;
    padding: 0.5em 0 0;
}

/* sub-navigation panel open state */
.sub-nav.open {
    display: block;
}

/* list of items within sub-navigation panel */
.sub-nav ul {
    display: inline-block;
    vertical-align: top;
    padding: 0;
}

.primary-nav .sub-nav ul li a {
    display: block;
    font-family: 'ProximaNovaRegular';
    font-size: 14px;
    padding: 3px 20px;
}

.primary-nav .sub-nav ul li a:focus, .primary-nav .sub-nav ul li a:hover {
    background: #fff;
    color: #153B50;
}

/* list item within sub-navigation panel */
.sub-nav li {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar-toggle:hover, .navbar-toggle:focus {
    color: #487896;
    outline: 5px auto -webkit-focus-ring-color;
}

.mobile-nav ul {
    padding-left: 0;
}

.mobile-nav li {
    list-style: none;
    margin-bottom: 0;
}

.mobile-nav > ul > li {
    font-family: 'ProximaNovaSemibold';
    color: white;
    font-size: 17px;
    font-size: 1.7rem;
}

.mobile-nav li a {
    font-family: 'ProximaNovaRegular';
    font-size: 1.5px;
    font-size: 1.5rem;
}

.mobile-nav {
    background: #3b3b3b;
    background: -o-linear-gradient(top, #3e3e3e, #383838);
    background: -ms-linear-gradient(top, #3e3e3e, #383838);
    background: -moz-linear-gradient(top, #3e3e3e, #383838);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #3e3e3e), color-stop(1, #383838));
    background: -webkit-linear-gradient(#3e3e3e, #383838);
    background: linear-gradient(top, #3e3e3e, #383838);
    text-indent: 0;
}

.mobile-nav a {
    background: #3b3b3b;
    background: -o-linear-gradient(top, #3e3e3e, #383838);
    background: -ms-linear-gradient(top, #3e3e3e, #383838);
    background: -moz-linear-gradient(top, #3e3e3e, #383838);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #3e3e3e), color-stop(1, #383838));
    background: -webkit-linear-gradient(#3e3e3e, #383838);
    background: linear-gradient(top, #3e3e3e, #383838);
    font-family: 'ProximaNovaSemibold';
    display: block;
    padding: 0.5em 10%;
    border-top: 1px solid #484848;
    border-bottom: 1px solid #2e2e2e;
    text-decoration: none;
    text-shadow: 0 -1px 2px #222;
    color: #f7f7f7;
    position: relative;
}

.mobile-nav li a:hover, .mobile-nav li a:focus {
    background: #404040;
    background: -o-linear-gradient(top, #484848, #383838);
    background: -ms-linear-gradient(top, #484848, #383838);
    background: -moz-linear-gradient(top, #484848, #383838);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #484848), color-stop(1, #383838));
    background: -webkit-linear-gradient(#484848, #383838);
    background: linear-gradient(top, #484848, #383838);
    color: #fdaf17;
}

.mobile-nav li a:hover:before, .mobile-nav li a:focus:before, .mobile-nav li a.current:before {
    content: "\f105";
    font-family: 'FontAwesome';
    height: 5px;
    width: 5px;
    position: absolute;
    left: 10px;
    top: 22%;
}

.mobile-nav li a.current {
    color: #fdaf17;
}

/*---CAROUSEL---*/
.carousel-caption {
    background: #153B50;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}

.carousel-control:focus, .carousel-control:hover {
    color: #FDAF17;
}

.carousel-control:focus span {
    outline: 2px solid #487896;
}

.carousel-control {
    z-index: 1;
}

.carousel-inner > .item {
    min-height: 260px;
}

.carousel-inner > .item h1 {
    font-size: inherit;
    padding: inherit;
}

.carousel-inner > .item > img {
    display: none;
}

/*---SIDEBAR---*/

/*---HOMEPAGE---*/
.carousel-indicators li, .carousel-indicators .active {
    height: 15px;
    width: 15px;
}

.carouselButtons {
    background-color: rgba(0, 0, 0, 0.77);
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 4.5em;
    z-index: 2;
}

.carouselButtons .btn-link {
    color: #fff;
}

.carouselButtons .btn-link:focus, .carouselButtons .btn-link:hover {
    color: #FDAF17;
}

.subcategory-section h2 {
    margin-top: 100px;
}

.subcategories .thumb {
    border: none;
    display: table;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    position: relative;
}

.subcategories .cap {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    display: table-cell;
    left: 0;
    padding: 0;
    text-transform: uppercase;
    width: 100%;
}

.subcategories .cap > h3 {
    min-height: 70px;
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
}

.subcategories .cap a {
    color: rgb(255, 255, 255);
    display: block;
    font-size: 19px;
    text-transform: uppercase;
    letter-spacing: 0.07em;
    padding-bottom: 23px;
    padding-top: 27px;
    transition: background-color 0.3s ease;
}

.subcategories .cap a:hover {
    background: #000;
}

.subcategories .cap a:focus {
    color: #FDAF17;
}

.subcategories .cap h3.multi-line a {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 13px;
    padding-top: 17px;
}

.home-how-help-section .btn {
    font-size: 16px;
    font-size: 1.6rem;
    margin-top: 15px;
    width: 100%;
}

/*---Styleguide---*/
.style-guide-container h2 {
    margin-top: 40px;
}

.style-example {
    padding: 0 15px 25px;
    margin-top: 0;
}

.style-color {
    display: block;
    height: 64px;
    width: 64px;
}

.style-color.primary {
    background-color: #153B50;
}

.style-color.secondary {
    background-color: #487896;
}

.style-color.tertiary {
    background-color: #292929;
}

.style-color.text {
    background-color: #FDAF17;
}

.style-color.btn-secondary-color {
    background-color: #934683;
}

/*---Search/Results page---*/
.secondary {
    margin-top: 50px;
}

.search-results .filter-toggle-button .btn {
    margin-bottom: 25px;
}

.search-results aside h3 {
    margin-top: 40px;
}

.search-results aside .category-toggle {
    color: inherit;
    font-family: 'ProximaNovaSemibold';
    font-size: inherit;
    padding: 0;
    position: relative;
}

.search-results aside .category-toggle[aria-expanded="true"]:before, .search-results aside .category-toggle[aria-expanded="false"]:before {
    font-family: 'FontAwesome';
    position: absolute;
    right: -20px;
    top: 0;
}

.search-results aside .category-toggle[aria-expanded="false"]:before {
    content: '\f196';
}

.search-results aside .category-toggle[aria-expanded="true"]:before {
    content: '\f147';
}

.search-results aside .selections .btn-link, .search-results aside .selections a {
    font-size: 14px;
}

.search-results aside .selections .btn-link {
    margin-left: 15px;
}

.search-results aside .selections ul {
    margin-left: 10px;
}

.search-results aside .selections ul li label {
    font-size: 14px;
    font-weight: normal;
}

.search-results aside .collaspingSection .state-collapse {
    color: inherit;
    font-family: 'ProximaNovaSemibold';
    position: relative;
}

.search-results aside .collaspingSection .state-collapse[aria-expanded="true"]:before, .search-results aside .collaspingSection .state-collapse[aria-expanded="false"]:before {
    font-family: 'FontAwesome';
    position: absolute;
    right: -5px;
    top: 5px;
}

.search-results aside .collaspingSection .state-collapse[aria-expanded="false"]:before {
    content: '\f054';
}

.search-results aside .collaspingSection .state-collapse[aria-expanded="true"]:before {
    content: '\f078';
}

.search-results aside .collaspingSection ul {
    margin-left: 35px;
}

.search-results .thumbnail {
    border-radius: 0;
    padding: 0;
}

.search-results .thumbnail > img {
    width: 100%;
}

.search-results .thumbnail .caption {
    /* padding: 0;*/
}

.search-results .thumbnail .caption h2 {
    font-size: 22px;
}

.search-results .thumbnail .caption p {
    font-size: 15px;
}

.search-results .sort-display-menu-container {
    margin-bottom: 20px;
}

.search-results .sort-display-menu-container .sort-display-menu {
    position: relative;
}

.search-results .sort-display-menu-container .sort-display-menu .sort-toggle {
    color: inherit;
    font-family: 'ProximaNovaSemibold';
    font-size: 15px;
    margin-right: 45px;
    padding: 0 13px 0 0;
    position: relative;
}

.search-results .sort-display-menu-container .sort-display-menu .sort-toggle.collapsed:before, .search-results .sort-display-menu-container .sort-display-menu .sort-toggle:before {
    font-family: 'FontAwesome';
    position: absolute;
    right: 0;
    top: 0;
}

.search-results .sort-display-menu-container .sort-display-menu .sort-toggle:before {
    content: '\f0d7';
}

.search-results .sort-display-menu-container .sort-display-menu .sort-toggle.collapsed:before {
    content: '\f0da';
}

.search-results .sort-display-menu-container .sort-display-menu .sort-by {
    left: 0;
    position: absolute;
    right: auto;
    top: 22px;
    min-width: auto;
}

.search-results .sort-display-menu-container .sort-display-menu .display-group {
    display: inline-block;
}

.search-results .sort-display-menu-container .sort-display-menu .display-group label {
    display: block;
    font-family: 'ProximaNovaSemibold';
    font-size: 15px;
}

.search-results .sort-display-menu-container .sort-display-menu .display-group .btn-sort {
    background: #fff;
    border: none;
    color: #487896;
}

.search-results .sort-display-menu-container .sort-display-menu .display-group .btn-sort.active {
    background: #487896;
    color: #fff;
}

/*   search page list view   */
.search-list-view .search-list-jumplinks li a {
    font-family: 'ProximaNovaBold';
    font-size: 22px;
}

.search-list-view .title-section {
    border-bottom: 3px solid #999;
    margin-bottom: 20px;
    margin-top: 40px;
}

.search-list-view .media .media-left .media-object {
    max-width: 64px;
}

.search-list-view .media .media-body .media-heading {
    color: inherit;
    float: left;
    font-family: 'LibreBaskervilleBold';
    font-size: 22px;
    position: relative;
}

.search-list-view .media .media-body .media-heading.collapsed:before, .search-list-view .media .media-body .media-heading:before {
    font-family: 'FontAwesome';
    position: absolute;
    right: -20px;
    top: 0;
}

.search-list-view .media .media-body .media-heading:before {
    content: '\f0d7';
}

.search-list-view .media .media-body .media-heading.collapsed:before {
    content: '\f0da';
}

.search-list-view .media .media-body .content {
    width: 100%;
}

/*---CONTACT---*/
.email-contact {
    margin-top: 35px;
}

.email-contact li {
    margin-bottom: 25px;
}

main address {
    margin-bottom: 0;
    margin-top: 20px;
}

main address > span, address > a {
    display: block;
    font-size: 15px;
    font-size: 1.5rem;
    margin-bottom: 5px;
}

/*---Request A Catalogue---*/
.request-catalogue input, .request-catalogue label {
    display: block;
    width: 100%;
}

.request-catalogue input {
    margin-bottom: 15px;
    height: 35px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
}

.request-catalogue select.form-control {
    display: inline-block;
    margin-bottom: 15px;
    padding: 0;
}

.request-catalogue .user-type select.form-control {
    margin-right: 0;
}

.request-catalogue .zip-label {
    clear: both;
    display: block;
}

.request-catalogue .checkbox input, .request-catalogue .checkbox label {
    display: inline-block;
    width: auto;
    height: auto;
}

.request-catalogue .checkbox label {
    font-size: 14px;
    font-size: 1.4rem;
}

.request-catalogue .checkbox, .request-catalogue textarea {
    margin-bottom: 15px;
}

.request-catalogue .comments {
    text-align: left;
}

.request-catalogue input.btn {
    font-size: inherit;
    height: auto;
    line-height: 1.42857143;
    padding: 6px 12px;
    margin-bottom: 0;
}

.request-catalogue .submit-button {
    text-align: left;
}

.request-catalogue .verify input {
    display: block;
}

/*Who We Are pages*/
.about-list li:before {
    content: "-";
    position: relative;
    left: -5px;
}

.about-list li {
    text-indent: -5px;
}

.about-list {
    list-style: none;
    padding-top: 20px;
}

.who-we-are-nav li a {
    text-decoration: none;
    position: relative;
}

.who-we-are-nav li a.current {
    font-family: 'ProximaNovaSemibold';
    font-size: 110%;
}

.who-we-are-nav li a.current:before, .who-we-are-nav li a:hover:before, .who-we-are-nav li a:focus:before, .who-we-are-nav li a.current:before {
    content: "\f105";
    font-family: 'FontAwesome';
    right: -15px;
    position: absolute;
    top: -1px;
}

.cfp-video-caption {
    width: 300px;
}

.media-object {
    width: 100px;
}

.team-member {
    margin-top: 50px;
}

.team-member h2 {
    margin-bottom: 25px;
    margin-top: 0;
}

.team-member h2 > small {
    display: block;
    marging-top: 5px;
}

.team-member h2 > small a {
    display: block;
    marging-top: 3px;
}

/*---FOOTER---*/
footer {
    background: #487896;
    border-top: 3px solid #153B50;
    color: #fff;
    font-size: 14px;
    margin-top: 85px;
    padding-top: 20px;
}

footer a {
    color: #fff;
}

footer a:focus, footer a:hover {
    color: #fff;
    text-decoration: underline;
}

footer .social-icons, footer address {
    text-align: center;
}

footer .social-icons li {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

footer .social-icons li:first-child {
    margin-left: 0;
}

footer .social-icons .fa {
    padding: 10px 15px;
}

footer .social-icons .fa:focus, footer .social-icons .fa:hover {
    color: #292929;
    background: #fff;
    text-decoration: none;
}

footer .primary-footer-nav, footer .secondary-footer-nav {
    display: block;
}

footer ul.primary-footer-nav li, footer ul.secondary-footer-nav li {
    text-align: center;
    width: 100%;
    margin-left: 0;
}

footer .primary-footer-nav li {
    margin-left: 25px;
}

footer .primary-footer-nav li:first-child {
    margin-left: 0;
}

footer .primary-footer-nav a {
    font-family: 'ProximaNovaSemibold';
    text-transform: uppercase;
}

footer .secondary-footer-nav li {
    margin-left: 30px;
}

footer .secondary-footer-nav li:first-child {
    margin-left: 0;
}

/*--- HOME PAGE ---*/
.home-lead-text {
    margin-bottom: 100px;
    margin-top: 75px;
}

.nav.nav-pills.home-search {
    margin-bottom: 15px;
    margin-top: 35px;
}

.nav.nav-pills.home-search > li {
    display: inline;
    float: none;
    font-family: 'ProximaNovaSemibold';
    font-size: 15px;
}

.nav.nav-pills.home-search > li button.btn-link {
    color: #292929;
    font-size: 17px;
    text-transform: uppercase;
    padding: 0;
}

.nav.nav-pills.home-search > li + li {
    margin-left: 15px;
}

/*---MEDIA QUERIES---*/
@media screen and (min-width: 480px) {
    .carouselButtons {
        display: block;
    }
    .home-how-help-section .btn {
        font-size: 19px;
        font-size: 1.9rem;
    }
}

@media screen and (min-width: 767px) {
    .nav.nav-pills.home-search > li {
        margin-left: 25px;
    }
    .nav.nav-pills.home-search > li + li {
        margin-left: 65px;
    }
    .carousel-control {
        bottom: 0;
        top: 0;
    }
    .carousel-caption {
        bottom: 0;
        left: 10%;
        top: 0;
    }
    .carousel-inner > .item > img {
        display: block;
    }
    .subcategories .thumb {
        margin-left: 0;
        margin-right: 0;
    }
    .subcategories .cap a {
        padding-bottom: 23px;
    }
    .subcategories .cap h3.multi-line a {
        padding-bottom: 13px;
    }
    .home-how-help-section .btn {
        font-size: 16px;
    }
    footer .social-icons, footer address, footer ul.primary-footer-nav li, footer ul.secondary-footer-nav li {
        text-align: left;
    }
    footer address a {
        display: inline-block;
    }
    footer ul.primary-footer-nav {
        margin-bottom: 0;
    }
    footer ul.primary-footer-nav, footer ul.secondary-footer-nav {
        display: inherit;
        float: right;
    }
    footer ul.primary-footer-nav li, footer ul.secondary-footer-nav li {
        margin-bottom: 15px;
        width: auto;
    }
    footer ul.secondary-footer-nav li {
        margin-left: 8px;
    }
}

@media screen and (min-width: 768px) {
    form strong.error {
        right: 0;
    }
    .mobile-nav {
        display: none !important;
    }
    .primary-nav, .secondary-nav {
        display: block;
    }
    .secondary-nav {
        float: right;
    }
    .primary-nav > nav > ul > li {
        margin-left: 2%;
    }
    .catalogue-donate-button-container {
        float: right;
    }
    .catalogue-donate-button {
        font-size: 17px;
        float: right;
    }
    .nav.nav-pills.home-search > li button.btn-link {
        border: 0;
        border-bottom: 5px solid transparent;
        margin-bottom: 15px;
    }
    .nav.nav-pills.home-search > li button.btn-link:focus, .nav.nav-pills.home-search > li button.btn-link:hover {
        text-decoration: none;
    }
    .nav.nav-pills.home-search > li button.btn-link.active.nature-btn, .nav.nav-pills.home-search > li button.btn-link.nature-btn:focus, .nav.nav-pills.home-search > li button.btn-link.nature-btn:hover {
        border-bottom-color: #05583D;
    }
    .nav.nav-pills.home-search > li button.btn-link.active.culture-btn, .nav.nav-pills.home-search > li button.btn-link.culture-btn:focus, .nav.nav-pills.home-search > li button.btn-link.culture-btn:hover {
        border-bottom-color: #934683;
    }
    .nav.nav-pills.home-search > li button.btn-link.active.education-btn, .nav.nav-pills.home-search > li button.btn-link.education-btn:focus, .nav.nav-pills.home-search > li button.btn-link.education-btn:hover {
        border-bottom-color: #E06C9F;
    }
    .nav.nav-pills.home-search > li button.btn-link.active.human-services-btn, .nav.nav-pills.home-search > li button.btn-link.human-services-btn:focus, .nav.nav-pills.home-search > li button.btn-link.human-services-btn:hover {
        border-bottom-color: #487896;
    }
    .nav.nav-pills.home-search > li button.btn-link.view-all-btn:focus, .nav.nav-pills.home-search > li button.btn-link.view-all-btn:hover {
        border-bottom-color: #FDAF17;
    }
    .carousel-caption {
        background: rgba(0, 0, 0, 0.77);
    }
    .home-how-help-section .btn {
        width: auto;
    }
    .secondary {
        margin-top: 85px;
    }
    .search-results .caption .btn {
        display: block;
    }
    .search-results .caption .btn.btn-primary {
        margin-bottom: 10px;
    }
    .email-contact {
        margin-left: 25px;
    }
    form.request-catalogue {
        float: left;
        text-align: right;
    }
    .request-catalogue input, .request-catalogue label {
        display: inline-block;
        width: auto;
    }
    .request-catalogue label.organization-label {
        font-size: 90%;
    }
    .request-catalogue .checkbox {
        float: right;
        width: 15.6em;
    }
    .request-catalogue .checkbox input, .request-catalogue .checkbox label {
        float: left;
        text-align: left;
    }
    .request-catalogue input.zip-code {
        width: 4.95em;
    }
    .request-catalogue .zip-label {
        display: inline-block;
    }
    .request-catalogue select.form-control {
        float: none;
        margin-right: 2.4em;
        width: 75px;
    }
    .request-catalogue .user-type select.form-control {
        width: auto;
    }
    .verify strong.error {
        left: 0;
    }
    .request-catalogue div > div {
        display: inline-block;
    }
    .request-catalogue div > .comments, .request-catalogue div > .verify, .request-catalogue div > .submit-button {
        display: block;
    }
    form div.error > div {
        display: inline-block;
        padding: 0;
        margin: 0;
    }
    form div.error > div strong.error {
        bottom: -10px;
        right: -119px;
    }
}

@media screen and (min-width: 900px) {
    .home-how-help-section .btn {
        font-size: 19px;
    }
    .secondary-nav li {
        margin-left: 30px;
    }
    .request-catalogue label.organization-label {
        font-size: inherit;
    }
    footer ul.primary-footer-nav li {
        margin-left: 13px;
    }
    footer ul.secondary-footer-nav li {
        margin-left: 20px;
    }
}

@media screen and (min-width: 915px) {
    .carousel-caption {
        bottom: 20px;
        top: auto;
    }
    .request-catalogue select.form-control {
        margin-right: 2.5em;
    }
}

@media screen and (min-width: 991px) {
    .primary-nav {
        padding-top: 15px;
    }
    .primary-nav > nav {
        margin-bottom: 0;
        margin-top: 0;
    }
    .primary-nav > nav > ul > li {
        margin-left: 1%;
    }
    .primary-nav > nav > ul > li > a {
        font-size: 17px;
    }
    .sub-nav {
        top: 61px;
    }
    .primary-nav .sub-nav ul li a {
        font-size: 15px;
        letter-spacing: .05em;
    }
    .nav.nav-pills.home-search > li {
        margin-left: 20px;
    }
    .nav.nav-pills.home-search > li + li {
        margin-left: 100px;
    }
    .subcategories .cap a {
        font-size: 14px;
    }
    .subcategories .cap > h3 {
        min-height: 54px;
    }
    .subcategories .cap a {
        padding-bottom: 17px;
        padding-top: 20px;
    }
    .subcategories .cap h3.multi-line a {
        padding-bottom: 10px;
        padding-top: 10px;
    }
    .search-results .caption .btn {
        width: auto;
    }
}

@media screen and (min-width: 1024px) {}

@media screen and (min-width: 1050px) {
    .primary-nav > nav > ul > li > a {
        font-size: 18px;
    }
    .search-results .caption .btn {
        /* width: 48%;
         font-family: 'ProximaNovaSemibold';
         font-size: 69%;
         padding: 6px 3px;*/
    }
}

@media screen and (min-width: 1077px) {
    .primary-nav nav li > button, .primary-nav nav li > a {
        font-size: 18px;
    }
    .subcategories .cap a {
        font-size: 16px;
    }
}

@media screen and (min-width: 1170px) {
    .nav.nav-pills.home-search > li {
        margin-left: 0;
    }
    .nav.nav-pills.home-search > li + li {
        margin-left: 150px;
    }
}

@media screen and (min-width: 1200px) {
    .primary-nav > nav > ul > li {
        margin-left: 3%;
    }
    .primary-nav .sub-nav ul li a {
        font-size: 14px;
    }
    .secondary-footer-nav {
        text-align: right;
        padding-right: 0;
    }
}

@media screen and (min-width: 1225px) {
    .primary-nav > nav > ul > li {
        margin-left: 4%;
    }
}

@media screen and (min-width: 1370px) {
    .catalogue-donate-button-container {
        width: 25%;
    }
    .primary-nav > nav > ul > li {
        margin-left: 6%;
    }
    .search-results .caption .btn {
        display: inline-block;
        width: 49%;
        padding: 8px 5px;
    }
    .search-results .caption .btn.btn-primary {
        margin-bottom: 0;
    }
}

#screen-indicator {
    position: absolute;
    height: 0;
    width: 0;
    z-index: 1;
}

@media (max-width: 1199px) {
    #screen-indicator {
        z-index: 8;
    }
}

@media (max-width: 991px) {
    #screen-indicator {
        z-index: 7;
    }
}

@media (max-width: 767px) {
    #screen-indicator {
        z-index: 6;
    }
}

@media (min-width: 480px) {
    #screen-indicator {
        z-index: 5;
    }
}

@media (min-width: 768px) {
    #screen-indicator {
        z-index: 4;
    }
}

@media (min-width: 992px) {
    #screen-indicator {
        z-index: 3;
    }
}

@media (min-width: 1200px) {
    #screen-indicator {
        z-index: 2;
    }
}