@charset "utf-8";

/*---GLOBAL---*/
body {
    color: #292929;
    font-family: 'ProximaNovaRegular';
    font-size: 16px;
    font-size: 2.5555em;
    font-size: 1.6rem;
    position: relative;
    min-width: 320px;
}

h1 {
    font-size: 40px;
}

h2 {
    font-family: 'LibreBaskervilleBold';
    font-size: 26px;
}

h3 {
    color: #143A50;
    font-family: 'ProximaNovaBold';
    font-size: 18px;
    font-size: 1.125em;
    font-size: 1.8rem;
}

h4 {
    font-family: 'ProximaNovasemibold';
    font-size: 16px;
    font-size: 1.6rem;
}

h5 {}

h6 {}

p {}

a {
    color: #477896;
}

a:focus, a:hover {
    text-decoration: underline;
}

hr {
    border-top-color: #ddd;
}

.lead {
    font-size: 26px;
    line-height: 1.5;
}

.dropdown-toggle:focus {
    outline: 2px solid #487896;
}

.btn {
    border-radius: 0;
    font-family: 'ProximaNovaSemibold';
}

.btn-primary {
    background-color: #487896;
    border-color: #487896;
    font-family: 'ProximaNovaBold';
    text-transform: uppercase;
}

.btn-primary:focus, .btn-primary:hover {
    background-color: #fff;
    border-color: #487896;
    color: #487896;
}

.btn-secondary {
    background-color: #934683;
    border-color: #934683;
    color: #fff;
    font-family: 'ProximaNovaBold';
    text-transform: uppercase;
}

.btn-secondary:focus, .btn-secondary:hover {
    background-color: #fff;
    border-color: #934683;
    color: #934683;
}

.btn-success {
    background-color: #05583D;
    border-color: #05583D;
}

.btn-success:focus, .btn-success:hover {
    background-color: #fff;
    border-color: #05583D;
    color: #05583D;
}

.btn-info {
    background-color: #008ACE;
    border-color: #008ACE;
    color: #101214;
}

.btn-info:focus, .btn-info:hover {
    background-color: #fff;
    border-color: #008ACE;
    color: #292929;
}

.btn-warning {
    background-color: #FE7F2D;
    border-color: #FE7F2D;
    color: #292929;
}

.btn-warning:focus, .btn-warning:hover {
    background-color: #fff;
    border-color: #FE7F2D;
    color: inherit;
}

.btn-danger {
    background-color: #931621;
    border-color: #931621;
}

.btn-danger:focus, .btn-danger:hover {
    background-color: #fff;
    border-color: #931621;
    color: #931621;
}

.btn-link {
    color: #477896;
}

.phone-link:focus, .phone-link:hover {
    text-decoration: none;
}

/*---HEADER---*/
.secondary-nav {
    margin-top: 12px;
}

.secondary-nav li {
    margin-left: 30px;
}

.secondary-nav li a {
    color: #292929;
    font-family: 'ProximaNovaSemibold';
    text-transform: uppercase;
}

.catalogue-donate-button {
    border-radius: 0;
    font-family: 'ProximaNovaBold';
    font-size: 19px;
    line-height: 1;
    margin-top: 10px;
    padding-bottom: 10px;
    padding-top: 15px;
    text-transform: uppercase;
}

/*---NAV---*/
.primary-nav {
    background-color: #153B50;
    margin-top: 20px;
    padding-bottom: 15px;
    padding-top: 15px;
}

.primary-nav nav {
    margin-top: 10px;
}

.primary-nav nav ul {
    margin-bottom: 0;
}

.primary-nav nav > ul > li {
    margin-left: 35px;
}

.primary-nav nav li > button {
    color: #fff;
    font-family: 'ProximaNovaSemibold';
    font-size: 20px;
    letter-spacing: .05em;
}

.primary-nav nav li > button:focus, .primary-nav nav li > button:hover {
    color: #FDAF17;
}

.primary-nav nav > ul li:first-child, .secondary-nav > ul li:first-child {
    margin-left: 0;
}

.primary-nav fieldset .search-submit {
    background: #FDAF17;
    border-color: #FDAF17;
    color: #000;
}

.primary-nav fieldset .search-submit:focus, .primary-nav fieldset .search-submit:hover {
    background: #000;
    border-color: #000;
    color: #FDAF17;
}

.primary-nav nav ul .dropdown-menu {
    background: #153b50;
    border: 0;
    border-radius: 0;
    margin-top: 16px;
    padding-bottom: 0;
}

.primary-nav nav ul ul li a {
    color: #fff;
}

.global-search-field input, .global-search-field button {
    border-radius: 0;
}

/*---CAROUSEL---*/
.carousel-caption {
    background: rgba(0, 0, 0, 0.77);
    right: auto;
}

.carousel-control:focus, .carousel-control:hover {
    color: #FDAF17;
}

.carousel-control:focus span {
    outline: 2px solid #487896;
}

.carousel-control {
    z-index: 1;
}

/*---SIDEBAR---*/

/*---HOMEPAGE---*/
.carousel-indicators li, .carousel-indicators .active {
    height: 15px;
    width: 15px;
}

.carouselButtons {
    background-color: rgba(0, 0, 0, 0.77);
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 4.5em;
    z-index: 2;
}

.carouselButtons .btn-link {
    color: #fff;
}

.carouselButtons .btn-link:focus, .carouselButtons .btn-link:hover {
    color: #FDAF17;
}

.subcategories .thumb {
    border: none;
    display: table;
    margin-bottom: 30px;
    padding: 0px;
    position: relative;
}

.subcategories .cap {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    display: table-cell;
    left: 0;
    padding: 0;
    text-transform: uppercase;
    width: 100%;
}

.subcategories .cap > h3 {
    min-height: 70px;
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
}

.subcategories .cap a {
    color: rgb(255, 255, 255);
    display: block;
    font-size: 19px;
    text-transform: uppercase;
    letter-spacing: 0.07em;
    padding-bottom: 23px;
    padding-top: 27px;
}

.subcategories .cap h3.multi-line a {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 13px;
    padding-top: 17px;
}

/*---Styleguide---*/
.style-guide-container h2 {
    margin-top: 40px;
}

.style-example {
    padding: 0 15px 25px;
    margin-top: 0;
}

.style-color {
    display: block;
    height: 64px;
    width: 64px;
}

.style-color.primary {
    background-color: #153B50;
}

.style-color.secondary {
    background-color: #487896;
}

.style-color.tertiary {
    background-color: #292929;
}

.style-color.text {
    background-color: #FDAF17;
}

.style-color.btn-secondary-color {
    background-color: #934683;
}

/*---FOOTER---*/
footer {
    background: #487896;
    border-top: 3px solid #153B50;
    color: #fff;
    font-size: 14px;
    margin-top: 85px;
    padding-top: 20px;
}

footer a {
    color: #fff;
}

footer a:focus, footer a:hover {
    color: #fff;
    text-decoration: underline;
}

footer .social-icons li {
    margin-left: 10px;
    margin-right: 10px;
}

footer .social-icons li:first-child {
    margin-left: 0;
}

footer .social-icons .fa {
    padding: 10px 15px;
}

footer .social-icons .fa:focus, footer .social-icons .fa:hover {
    color: #292929;
    background: #fff;
    text-decoration: none;
}

footer .primary-footer-nav li {
    margin-left: 25px;
}

footer .primary-footer-nav li:first-child {
    margin-left: 0;
}

footer .primary-footer-nav a {
    font-family: 'ProximaNovaSemibold';
    text-transform: uppercase;
}

footer .secondary-footer-nav li {
    margin-left: 30px;
}

footer .secondary-footer-nav li:first-child {
    margin-left: 0;
}

/*--- HOME PAGE ---*/
.home-lead-text {
    margin-bottom: 100px;
    margin-top: 75px;
}

.nav.nav-pills.home-search {
    margin-bottom: 15px;
    margin-top: 35px;
}

.nav.nav-pills.home-search > li {
    display: inline;
    float: none;
    font-family: 'ProximaNovaSemibold';
    font-size: 15px;
}

.nav.nav-pills.home-search > li button.btn-link {
    color: #292929;
    font-size: 17px;
    text-transform: uppercase;
    padding: 0;
}

.nav.nav-pills.home-search > li + li {
    margin-left: 15px;
}

/*---MEDIA QUERIES---*/
@media screen and (min-width: 480px) {
    .carouselButtons {
        display: block;
    }
}

@media screen and (min-width: 768px) {
    /**** Temporary style for logo in header ****/
    .wordmark {
        margin-top: 30px;
        margin-left: 2%;
    }
    .secondary-nav {
        float: right;
    }
    .catalogue-donate-button-container {
        float: right;
    }
    .catalogue-donate-button {
        font-size: 17px;
    }
}

@media screen and (min-width: 767px) {
    .nav.nav-pills.home-search > li {
        margin-left: 25px;
    }
    .nav.nav-pills.home-search > li + li {
        margin-left: 65px;
    }
    .subcategories .cap a {
        padding-bottom: 23px;
    }
    .subcategories .cap h3.multi-line a {
        padding-bottom: 13px;
    }
}

@media screen and (min-width: 991px) {
    .nav.nav-pills.home-search > li {
        margin-left: 20px;
    }
    .nav.nav-pills.home-search > li + li {
        margin-left: 100px;
    }
    .subcategories .cap a {
        font-size: 16px;
    }
    .subcategories .cap > h3 {
        min-height: 54px;
    }
    .subcategories .cap a {
        padding-bottom: 17px;
        padding-top: 20px;
    }
    .subcategories .cap h3.multi-line a {
        padding-bottom: 10px;
        padding-top: 10px;
    }
}

@media screen and (min-width: 1170px) {
    .nav.nav-pills.home-search > li {
        margin-left: 0;
    }
    .nav.nav-pills.home-search > li + li {
        margin-left: 150px;
    }
}

@media screen and (min-width: 1370px) {
    .catalogue-donate-button-container {
        width: 25%;
    }
}