@charset "utf-8";

/*---GLOBAL---*/
body {
    color: #292929;
    font-family: 'ProximaNovaRegular';
    font-size: 16px;
    font-size: 2.5555em;
    font-size: 1.6rem;
    position: relative;
    min-width: 320px;
}

h1 {
    font-size: 40px;
    padding-bottom: 53px;
    padding-top: 53px;
}

h2 {
    font-family: 'LibreBaskervilleBold';
    font-size: 26px;
}

h3 {
    color: #143A50;
    font-family: 'ProximaNovaBold';
    font-size: 18px;
    font-size: 1.125em;
    font-size: 1.8rem;
    margin-top: 75px;
    text-transform: uppercase;
}

h4 {
    font-family: 'ProximaNovaSemibold';
    font-size: 16px;
    font-size: 1.6rem;
}

h5 {}

h6 {}

p {}

a {
    color: #477896;
}

a:focus, a:hover {
    text-decoration: underline;
}

hr {
    border-top-color: #ddd;
}

.lead {
    font-size: 26px;
    line-height: 1.5;
}

.dropdown-toggle:focus {
    outline: 2px solid #487896;
}

.btn {
    border-radius: 0;
    font-family: 'ProximaNovaSemibold';
    transition: color 0.3s ease;
    transition: background-color 0.3s ease;
}

.btn-gray {
    background-color: #c8c8c8;
}

.btn-gray:focus, .btn-gray:hover {
    background-color: #292929;
    border-color: #c8c8c8;
    color: #fff;
}

.btn-primary {
    background-color: #487896;
    border-color: #487896;
    font-family: 'ProximaNovaBold';
    text-transform: uppercase;
}

.btn-primary:focus, .btn-primary:hover {
    background-color: #fff;
    border-color: #487896;
    color: #487896;
}

.btn-secondary {
    background-color: #934683;
    border-color: #934683;
    color: #fff;
    font-family: 'ProximaNovaBold';
    text-transform: uppercase;
}

.btn-secondary:focus, .btn-secondary:hover {
    background-color: #fff;
    border-color: #934683;
    color: #934683;
}

.btn-success {
    background-color: #05583D;
    border-color: #05583D;
}

.btn-success:focus, .btn-success:hover {
    background-color: #fff;
    border-color: #05583D;
    color: #05583D;
}

.btn-info {
    background-color: #008ACE;
    border-color: #008ACE;
    color: #101214;
}

.btn-info:focus, .btn-info:hover {
    background-color: #fff;
    border-color: #008ACE;
    color: #292929;
}

.btn-warning {
    background-color: #FE7F2D;
    border-color: #FE7F2D;
    color: #292929;
}

.btn-warning:focus, .btn-warning:hover {
    background-color: #fff;
    border-color: #FE7F2D;
    color: inherit;
}

.btn-danger {
    background-color: #931621;
    border-color: #931621;
}

.btn-danger:focus, .btn-danger:hover {
    background-color: #fff;
    border-color: #931621;
    color: #931621;
}

.btn-link {
    color: #477896;
}

.phone-link:focus, .phone-link:hover {
    text-decoration: none;
}

/*---HEADER---*/
.secondary-nav {
    margin-top: 12px;
}

.secondary-nav li {
    margin-left: 10px;
}

.secondary-nav li a {
    color: #292929;
    font-family: 'ProximaNovaSemibold';
    font-size: 15px;
    text-transform: uppercase;
}

.catalogue-donate-button {
    border-radius: 0;
    line-height: 1;
    margin-top: 10px;
    padding-bottom: 10px;
    padding-top: 15px;
}

/*---NAV---*/
/*.mobile-nav {
    overflow-y: auto !important;
    padding-left: 0;
    position: absolute;
    text-indent: -9999em;
}*/

.mobile-nav ul {
    padding-left: 0;
}

.mobile-nav li {
    list-style: none;
}

.mobile-nav li a {}

.mobile-nav {
    background: #3b3b3b;
    background: -o-linear-gradient(top, #3e3e3e, #383838);
    background: -ms-linear-gradient(top, #3e3e3e, #383838);
    background: -moz-linear-gradient(top, #3e3e3e, #383838);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #3e3e3e), color-stop(1, #383838));
    background: -webkit-linear-gradient(#3e3e3e, #383838);
    background: linear-gradient(top, #3e3e3e, #383838);
    text-indent: 0;
}

.mobile-nav a {
    background: #3b3b3b;
    background: -o-linear-gradient(top, #3e3e3e, #383838);
    background: -ms-linear-gradient(top, #3e3e3e, #383838);
    background: -moz-linear-gradient(top, #3e3e3e, #383838);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #3e3e3e), color-stop(1, #383838));
    background: -webkit-linear-gradient(#3e3e3e, #383838);
    background: linear-gradient(top, #3e3e3e, #383838);
    font-family: 'ProximaNovaSemibold';
    display: block;
    padding: 0.5em 10%;
    border-top: 1px solid #484848;
    border-bottom: 1px solid #2e2e2e;
    text-decoration: none;
    text-shadow: 0 -1px 2px #222;
    color: #f7f7f7;
    position: relative;
}

.mobile-nav li a:hover, .mobile-nav li a:focus {
    background: #404040;
    background: -o-linear-gradient(top, #484848, #383838);
    background: -ms-linear-gradient(top, #484848, #383838);
    background: -moz-linear-gradient(top, #484848, #383838);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #484848), color-stop(1, #383838));
    background: -webkit-linear-gradient(#484848, #383838);
    background: linear-gradient(top, #484848, #383838);
    color: #fdaf17;
}

.mobile-nav li a:hover:before, .mobile-nav li a:focus:before, .mobile-nav li a.current:before {
    content: "\f105";
    font-family: 'FontAwesome';
    height: 5px;
    width: 5px;
    position: absolute;
    left: 10px;
    top: 22%;
}

.mobile-nav li a.current {
    color: #fdaf17;
}

.primary-nav, .secondary-nav {
    display: none;
}

.primary-nav {
    background-color: #153B50;
    margin-top: 20px;
    padding-bottom: 15px;
    padding-top: 15px;
}

.primary-nav nav {
    margin-bottom: 10px;
    margin-top: 10px;
}

.primary-nav nav ul {
    margin-bottom: 0;
}

.primary-nav nav li > button, .primary-nav nav li > a {
    color: #fff;
    font-family: 'ProximaNovaSemibold';
    font-size: inherit;
    letter-spacing: .05em;
    transition: color 0.3s ease;
}

.primary-nav nav li > button:focus, .primary-nav nav li > button:hover, .primary-nav nav li > a:focus, .primary-nav nav li > a:hover {
    color: #FDAF17;
}

.primary-nav nav .dropdown-menu li > button:focus, .primary-nav nav .dropdown-menu li > button:hover, .primary-nav nav .dropdown-menu li > a:focus, .primary-nav nav .dropdown-menu li > a:hover {
    color: #153b50;
}

.primary-nav nav ul.dropdown-menu li {
    margin-left: 0;
}

.primary-nav nav ul.dropdown-menu li a {
    font-family: 'ProximaNovaRegular';
    font-size: 14px;
}

.primary-nav nav > ul li:first-child, .secondary-nav > ul li:first-child {
    margin-left: 0;
}

.primary-nav fieldset .search-submit {
    background: #FDAF17;
    border-color: #FDAF17;
    color: #000;
}

.primary-nav fieldset .search-submit:focus, .primary-nav fieldset .search-submit:hover {
    background: #000;
    border-color: #000;
    color: #FDAF17;
}

.primary-nav nav ul .dropdown-menu {
    background: #153b50;
    border: 0;
    border-radius: 0;
    top: 21px;
    padding-bottom: 0;
}

.primary-nav nav ul ul li a {
    color: #fff;
}

.global-search-field input, .global-search-field button {
    border-radius: 0;
}

/*---CAROUSEL---*/
.carousel-caption {
    background: rgba(0, 0, 0, 0.77);
    right: auto;
}

.carousel-control:focus, .carousel-control:hover {
    color: #FDAF17;
}

.carousel-control:focus span {
    outline: 2px solid #487896;
}

.carousel-control {
    z-index: 1;
}

/*---SIDEBAR---*/

/*---HOMEPAGE---*/
.carousel-indicators li, .carousel-indicators .active {
    height: 15px;
    width: 15px;
}

.carouselButtons {
    background-color: rgba(0, 0, 0, 0.77);
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 4.5em;
    z-index: 2;
}

.carouselButtons .btn-link {
    color: #fff;
}

.carouselButtons .btn-link:focus, .carouselButtons .btn-link:hover {
    color: #FDAF17;
}

.subcategory-section h2 {
    margin-top: 100px;
}

.subcategories .thumb {
    border: none;
    display: table;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    position: relative;
}

.subcategories .cap {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    display: table-cell;
    left: 0;
    padding: 0;
    text-transform: uppercase;
    width: 100%;
}

.subcategories .cap > h3 {
    min-height: 70px;
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
}

.subcategories .cap a {
    color: rgb(255, 255, 255);
    display: block;
    font-size: 19px;
    text-transform: uppercase;
    letter-spacing: 0.07em;
    padding-bottom: 23px;
    padding-top: 27px;
    transition: background-color 0.3s ease;
}

.subcategories .cap a:hover {
    background: #000;
}

.subcategories .cap h3.multi-line a {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 13px;
    padding-top: 17px;
}

.home-how-help-section .btn {
    font-size: 19px;
    margin-top: 15px;
    width: 100%;
}

/*---Styleguide---*/
.style-guide-container h2 {
    margin-top: 40px;
}

.style-example {
    padding: 0 15px 25px;
    margin-top: 0;
}

.style-color {
    display: block;
    height: 64px;
    width: 64px;
}

.style-color.primary {
    background-color: #153B50;
}

.style-color.secondary {
    background-color: #487896;
}

.style-color.tertiary {
    background-color: #292929;
}

.style-color.text {
    background-color: #FDAF17;
}

.style-color.btn-secondary-color {
    background-color: #934683;
}

/*---Search/Results page---*/
.search-results {
    margin-top: 50px;
}

.search-results .filter-toggle-button .btn {
    margin-bottom: 25px;
}

.search-results aside h3 {
    margin-top: 40px;
}

.search-results aside .category-toggle {
    color: inherit;
    font-family: 'ProximaNovaSemibold';
    font-size: inherit;
    padding: 0;
    position: relative;
}

.search-results aside .category-toggle[aria-expanded="true"]:after, .search-results aside .category-toggle[aria-expanded="false"]:after {
    font-family: 'FontAwesome';
    position: absolute;
    right: -20px;
    top: 0;
}

.search-results aside .category-toggle[aria-expanded="false"]:after {
    content: '\f196';
}

.search-results aside .category-toggle[aria-expanded="true"]:after {
    content: '\f147';
}

.search-results aside .selections .btn-link, .search-results aside .selections a {
    font-size: 14px;
}

.search-results aside .selections .btn-link {
    margin-left: 15px;
}

.search-results aside .selections ul {
    margin-left: 10px;
}

.search-results aside .selections ul li label {
    font-size: 14px;
    font-weight: normal;
}

.search-results aside .collaspingSection .state-collapse {
    color: inherit;
    font-family: 'ProximaNovaSemibold';
    position: relative;
}

.search-results aside .collaspingSection .state-collapse[aria-expanded="true"]:after, .search-results aside .collaspingSection .state-collapse[aria-expanded="false"]:after {
    font-family: 'FontAwesome';
    position: absolute;
    right: -5px;
    top: 5px;
}

.search-results aside .collaspingSection .state-collapse[aria-expanded="false"]:after {
    content: '\f054';
}

.search-results aside .collaspingSection .state-collapse[aria-expanded="true"]:after {
    content: '\f078';
}

.search-results aside .collaspingSection ul {
    margin-left: 35px;
}

.search-results .thumbnail {
    border-radius: 0;
}

.search-results .thumbnail .caption {
    padding: 0;
}

.search-results .thumbnail .caption h2 {
    font-size: 22px;
}

.search-results .thumbnail .caption h2 small {
    font-family: 'ProximaNovaRegular';
    font-style: italic;
}

.search-results .thumbnail .caption p {
    font-size: 15px;
}

.search-results .sort-display-menu-container {
    margin-bottom: 20px;
}

.search-results .sort-display-menu-container .sort-display-menu {
    position: relative;
}

.search-results .sort-display-menu-container .sort-display-menu .sort-toggle {
    color: inherit;
    font-family: 'ProximaNovaSemibold';
    font-size: 15px;
    margin-right: 45px;
    padding: 0 13px 0 0;
    position: relative;
}

.search-results .sort-display-menu-container .sort-display-menu .sort-toggle.collapsed:after, .search-results .sort-display-menu-container .sort-display-menu .sort-toggle:after {
    font-family: 'FontAwesome';
    position: absolute;
    right: 0;
    top: 0;
}

.search-results .sort-display-menu-container .sort-display-menu .sort-toggle:after {
    content: '\f0d7';
}

.search-results .sort-display-menu-container .sort-display-menu .sort-toggle.collapsed:after {
    content: '\f0da';
}

.search-results .sort-display-menu-container .sort-display-menu .sort-by {
    left: 0;
    position: absolute;
    right: auto;
    top: 22px;
    min-width: auto;
}

.search-results .sort-display-menu-container .sort-display-menu .display-group {
    display: inline-block;
}

.search-results .sort-display-menu-container .sort-display-menu .display-group label {
    display: block;
    font-family: 'ProximaNovaSemibold';
    font-size: 15px;
}

.search-results .sort-display-menu-container .sort-display-menu .display-group .btn-sort {
    background: #fff;
    border: none;
    color: #487896;
}

.search-results .sort-display-menu-container .sort-display-menu .display-group .btn-sort.active {
    background: #487896;
    color: #fff;
}

/*
.search-results {
    margin-top: 50px;
    .filter-toggle-button {
        .btn {
            margin-bottom: 25px;
        }
    }
    aside {
        h3 {
            margin-top: 40px;
        }
        .category-toggle {
            color: inherit;
            font-family: 'ProximaNovaSemibold';
            font-size: inherit;
            padding: 0;
            position: relative;
            &[aria-expanded="true"]:after, &[aria-expanded="false"]:after {
                font-family: 'FontAwesome';
                position: absolute;
                right: -20px;
                top: 0;
            }
            &[aria-expanded="false"]:after {
                content: '\f196';
            }
            &[aria-expanded="true"]:after {
                content: '\f147';
            }
        }
        .selections {
            .btn-link, a {
                font-size: 14px;
            }
            .btn-link {
                margin-left: 15px;
            }
            ul {
                margin-left: 10px;
                li {
                    label {
                        font-size: 14px;
                        font-weight: normal;
                    }
                }
            }
        }
        .collaspingSection {
            .state-collapse {
                color: inherit;
                font-family: 'ProximaNovaBold';
                position: relative;
                &[aria-expanded="true"]:after, &[aria-expanded="false"]:after {
                    font-family: 'FontAwesome';
                    position: absolute;
                    right: -5px;
                    top: 5px;
                }
                &[aria-expanded="false"]:after {
                    content: '\f054';
                }
                &[aria-expanded="true"]:after {
                    content: '\f078';
                }
            }
            ul {
                margin-left: 35px;
            }
        }
    }
    .thumbnail {
        border-radius: 0;
        .caption {
            padding: 0;
            h2 {
                font-size: 22px;
                small {
                    font-family: 'ProximaNovaRegular';
                    font-style: italic;
                }
            }
            p {
                font-size: 15px;
            }
        }
    }
    .sort-display-menu-container {
        margin-bottom: 20px;
        .sort-display-menu {
            position: relative;
            .sort-toggle {
                color: inherit;
                font-family: 'ProximaNovaSemibold';
                font-size: 15px;
                margin-right: 45px;
                padding: 0 13px 0 0;
                position: relative;
                &.collapsed:after, &:after {
                    font-family: 'FontAwesome';
                    position: absolute;
                    right: 0;
                    top: 0;
                }
                &:after {
                    content: '\f0d7';
                }
                &.collapsed:after {
                    content: '\f0da';
                }
            }
            .sort-by {
                left: 0;
                position: absolute;
                right: auto;
                top: 22px;
                min-width: auto;
            }
            .display-group {
                display: inline-block;
                label {
                    display: block;
                    font-family: 'ProximaNovaSemibold';
                    font-size: 15px;
                }
                .btn-sort {
                    background: #fff;
                    border: none;
                    color: #487896;
                    &.active {
                        background: #487896;
                        color: #fff;
                    }
                }
            }
        }
    }
}
*/

/*---FOOTER---*/
footer {
    background: #487896;
    border-top: 3px solid #153B50;
    color: #fff;
    font-size: 14px;
    margin-top: 85px;
    padding-top: 20px;
}

footer a {
    color: #fff;
}

footer a:focus, footer a:hover {
    color: #fff;
    text-decoration: underline;
}

footer .social-icons li {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

footer .social-icons li:first-child {
    margin-left: 0;
}

footer .social-icons .fa {
    padding: 10px 15px;
}

footer .social-icons .fa:focus, footer .social-icons .fa:hover {
    color: #292929;
    background: #fff;
    text-decoration: none;
}

footer .primary-footer-nav li {
    margin-left: 25px;
}

footer .primary-footer-nav li:first-child {
    margin-left: 0;
}

footer .primary-footer-nav a {
    font-family: 'ProximaNovaSemibold';
    text-transform: uppercase;
}

footer .secondary-footer-nav li {
    margin-left: 30px;
}

footer .secondary-footer-nav li:first-child {
    margin-left: 0;
}

/*--- HOME PAGE ---*/
.home-lead-text {
    margin-bottom: 100px;
    margin-top: 75px;
}

.nav.nav-pills.home-search {
    margin-bottom: 15px;
    margin-top: 35px;
}

.nav.nav-pills.home-search > li {
    display: inline;
    float: none;
    font-family: 'ProximaNovaSemibold';
    font-size: 15px;
}

.nav.nav-pills.home-search > li button.btn-link {
    color: #292929;
    font-size: 17px;
    text-transform: uppercase;
    padding: 0;
}

.nav.nav-pills.home-search > li + li {
    margin-left: 15px;
}

/*---MEDIA QUERIES---*/
@media screen and (max-width: 767px) {
    footer ul.social-icons {
        text-align: center;
    }
    footer ul.primary-footer-nav, footer ul.secondary-footer-nav {
        width: 100%;
    }
    footer ul.primary-footer-nav li, footer ul.secondary-footer-nav li {
        text-align: center;
        width: 100%;
        margin-left: 0;
    }
    footer address {
        text-align: center;
    }
   /* footer {
        ul {
            .social-icons {
                text-align: center;
            }
            .primary-footer-nav, .secondary-footer-nav {
                width: 100%;
            }
            .primary-footer-nav, .secondary-footer-nav {
                li{
                    text-align: center;
                    width: 100%;
                    margin-left: 0;
                }
            }
        }
        address {
            text-align: center;
        }
    }*/
}
@media screen and (min-width: 480px) {
    .carouselButtons {
        display: block;
    }
}
@media screen and (min-width: 768px) and (max-width: 884px) {
    footer .primary-footer-nav li, footer .secondary-footer-nav li {
        margin-left: 0;
    }
    /*footer {
        .primary-footer-nav, .secondary-footer-nav {
            li {
                margin-left: 0;
            }
        } 
    }*/
}
@media screen and (min-width: 767px) {
    .nav.nav-pills.home-search > li {
        margin-left: 25px;
    }
    .nav.nav-pills.home-search > li + li {
        margin-left: 65px;
    }
    .subcategories .thumb {
        margin-left: 0;
        margin-right: 0;
    }
    .subcategories .cap a {
        padding-bottom: 23px;
    }
    .subcategories .cap h3.multi-line a {
        padding-bottom: 13px;
    }
    .home-how-help-section .btn {
        font-size: 16px;
    }
}

@media screen and (min-width: 768px) {
    .mobile-nav {
        display: none !important;
    }
    .primary-nav, .secondary-nav {
        display: block;
    }
    .secondary-nav {
        float: right;
    }
    .primary-nav nav > ul li {
        margin-left: 2%;
    }
    .catalogue-donate-button-container {
        float: right;
    }
    .catalogue-donate-button {
        font-size: 17px;
        float: right;
    }
    .nav.nav-pills.home-search > li button.btn-link {
        border: 0;
        border-bottom: 5px solid transparent;
        margin-bottom: 15px;
    }
    .nav.nav-pills.home-search > li button.btn-link:focus, .nav.nav-pills.home-search > li button.btn-link:hover {
        text-decoration: none;
    }
    .nav.nav-pills.home-search > li button.btn-link.active.nature-btn, .nav.nav-pills.home-search > li button.btn-link.nature-btn:focus, .nav.nav-pills.home-search > li button.btn-link.nature-btn:hover {
        border-bottom-color: #05583D;
    }
    .nav.nav-pills.home-search > li button.btn-link.active.culture-btn, .nav.nav-pills.home-search > li button.btn-link.culture-btn:focus, .nav.nav-pills.home-search > li button.btn-link.culture-btn:hover {
        border-bottom-color: #934683;
    }
    .nav.nav-pills.home-search > li button.btn-link.active.education-btn, .nav.nav-pills.home-search > li button.btn-link.education-btn:focus, .nav.nav-pills.home-search > li button.btn-link.education-btn:hover {
        border-bottom-color: #E06C9F;
    }
    .nav.nav-pills.home-search > li button.btn-link.active.human-services-btn, .nav.nav-pills.home-search > li button.btn-link.human-services-btn:focus, .nav.nav-pills.home-search > li button.btn-link.human-services-btn:hover {
        border-bottom-color: #487896;
    }
    .nav.nav-pills.home-search > li button.btn-link.view-all-btn:focus, .nav.nav-pills.home-search > li button.btn-link.view-all-btn:hover {
        border-bottom-color: #FDAF17;
    }
    .home-how-help-section .btn {
        width: auto;
    }
    .search-results {
        margin-top: 100px;
    }
    .search-results .caption .btn {
        width: 49%;
    }
}
}


@media screen and (min-width: 900px) {
    .home-how-help-section .btn {
        font-size: 19px;
    }
    .primary-nav nav > ul li {
        margin-left: 0;
    }
    .primary-nav nav li > button, .primary-nav nav li > a {
        font-size: 17px;
    }
    .secondary-nav li {
        margin-left: 30px;
    }
}

@media screen and (min-width: 991px) {
    .primary-nav nav ul .dropdown-menu {
        top: 48px;
    }
    .primary-nav nav li > button, .primary-nav nav li > a {
        font-size: 14px;
    }
    .secondary-nav li a {
        font-size: inherit;
    }
    .nav.nav-pills.home-search > li {
        margin-left: 20px;
    }
    .nav.nav-pills.home-search > li + li {
        margin-left: 100px;
    }
    .subcategories .cap a {
        font-size: 16px;
    }
    .subcategories .cap > h3 {
        min-height: 54px;
    }
    .subcategories .cap a {
        padding-bottom: 17px;
        padding-top: 20px;
    }
    .subcategories .cap h3.multi-line a {
        padding-bottom: 10px;
        padding-top: 10px;
    }
     .search-results .caption .btn {
        width: auto;
    }
}

@media screen and (min-width: 1050px) {
    .primary-nav nav li > button, .primary-nav nav li > a {
        font-size: 16px;
    }
    .search-results .caption .btn {
        width: 48%;
        font-size: 74%;
        padding: 6px 3px;
    }
}

@media screen and (min-width: 1077px) {
    .primary-nav nav li > button, .primary-nav nav li > a {
        font-size: 18px;
    }
}

@media screen and (min-width: 1170px) {
    .nav.nav-pills.home-search > li {
        margin-left: 0;
    }
    .nav.nav-pills.home-search > li + li {
        margin-left: 150px;
    }
}

@media screen and (min-width: 1200px) {
    .primary-nav nav > ul li {
        margin-left: 3%;
    }
    .search-results .caption .btn {
        font-size: 85%;
    }
}

@media screen and (min-width: 1225px) {
    .primary-nav nav > ul li {
        margin-left: 4%;
    }
}

@media screen and (min-width: 1370px) {
    .catalogue-donate-button-container {
        width: 25%;
    }
    .primary-nav nav > ul li {
        margin-left: 6%;
    }
    .search-results .caption .btn {
        width: 49%;
        font-size: 100%;
        padding: 8px 5px;
    }
}

#screen-indicator {
    position: absolute;
    height: 0;
    width: 0;
    z-index: 1;
}

@media (max-width: 1199px) {
    #screen-indicator {
        z-index: 8;
    }
}

@media (max-width: 991px) {
    #screen-indicator {
        z-index: 7;
    }
}

@media (max-width: 767px) {
    #screen-indicator {
        z-index: 6;
    }
}

@media (min-width: 480px) {
    #screen-indicator {
        z-index: 5;
    }
}

@media (min-width: 768px) {
    #screen-indicator {
        z-index: 4;
    }
}

@media (min-width: 992px) {
    #screen-indicator {
        z-index: 3;
    }
}

@media (min-width: 1200px) {
    #screen-indicator {
        z-index: 2;
    }
}