.container-fluid {
    width: 960px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    float: left;
}

.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    width: 100%;
}

.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11 {
    width: 91.66667%;
}

.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10 {
    width: 83.33333%;
}

.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9 {
    width: 75%;
}

.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8 {
    width: 66.66667%;
}

.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7 {
    width: 58.33333%;
}

.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6 {
    width: 50%;
}

.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5 {
    width: 41.66667%;
}

.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4 {
    width: 33.33333%;
}

.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3 {
    width: 25%;
}

.col-xs-2, .col-sm-2, .col-md-2, .col-lg-2 {
    width: 16.66667%;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1 {
    width: 8.33333%;
}

* {
    font-family: Arial !important;
    text-shadow: none !important;
    color: #000 !important;
    background: transparent !important;
    box-shadow: none !important;
}

a, a:visited {
    text-decoration: underline;
}

a[href]:after {
    content: "";
}

abbr[title]:after {
    content: "";
}

a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
}

pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
}

thead {
    display: table-header-group;
}

tr, img {
    page-break-inside: avoid;
}

img {
    max-width: 100% !important;
}

p, h2, h3 {
    orphans: 3;
    widows: 3;
}

h2, h3 {
    page-break-after: avoid;
}

select {
    background: #fff !important;
}

.navbar {
    display: none;
}

.table td, .table th {
    background-color: #fff !important;
}

.label {
    border: 1px solid #000;
}

.table {
    border-collapse: collapse !important;
}

.table-bordered th, .table-bordered td {
    border: 1px solid #ddd !important;
}

aside, .sort-display-menu-container, .filter-toggle-button button, .adobeBlank, .hero .img-responsive, .carousel {
    display: none;
}

a[href]:after {
    content: "";
}

hr {
    display: none;
}

section.col-xs-12, section.col-sm-8, section.col-md-10 {
    width: 100%;
}

.subcat-grid-item, .nonprofit-listing {
    position: relative !important;
    left: auto !important;
    top: auto !important;
}

.grid.nonprofits {
    height: auto !important;
}

.col-xs-12.nonprofit-listing {
    float: left;
    display: inline-block;
    width: 25%;
}

.subcategories .cap a {
    background: #fff !important;
}

.home-how-help-section .btn {
    width: 49%;
}

.login-form div.col-lg-4 {
    margin-left: 60px;
    width: 40%;
}

.nonprofit-listing {
    display: block;
    left: 0;
    top: 0;
}

.search-results .grid.nonprofits .col-md-12.iso-item {
    margin-top: 100px !important;
}

.grid .col-md-12.iso-item, .iso-item {
    height: auto !important;
    position: relative !important;
    left: auto !important;
    top: auto !important;
}

.primary-nav, .secondary-nav {
    display: block;
}

.secondary-nav {
    float: right;
}

.secondary-nav li {
    margin-top: 9px;
}

.primary-nav nav ul li a, .secondary-nav ul li a {
    font-size: .7em !important;
}

.home-lead-text, .home-how-help-section {
    width: 100%;
    margin-left: 0;
}

footer {
    margin-top: 30px;
}

footer .primary-footer-nav li, footer .secondary-footer-nav li {
    display: inline-block;
    width: auto;
    margin-left: 0;
}

footer .social-icons {
    float: left;
}

footer .social-icons li a {
    font-size: 1.5em;
    margin: 0;
    padding: 0;
}

footer .social-icons li {
    margin: 0;
}

footer .primary-footer-nav li a, footer .secondary-footer-nav li a {
    margin-left: 0;
    font-size: .7em;
    padding: 0;
}

footer address span {
    float: left;
    margin-left: 0;
}

footer address > a {
    float: left;
    margin-left: 0;
}

@media (-webkit-min-device-pixel-ratio: 0) {
    .thumbnail {}
}

@-moz-document url-prefix() {
    .thumbnail {
        width: 15%;
        margin-bottom: 50px;
    }
    .thumbnail .caption {
        height: auto;
    }
    .col-xs-12 .nonprofit-listing {
        width: 100% !important;
        margin-bottom: 50px;
    }
    footer .pull-left {
        float: none !important;
    }
    [data-page-id="sponsors"] .two-column-well {
        overflow: inherit !important;
        border: none;
    }
}